{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block styles %}


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>The Random Picker</title>
    <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow|Shrikhand" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'dist/jquery.slotmachine.css' %}" type="text/css" media="screen"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'dist/jquery.slotmachine.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <script type="text/javascript" src="{% static 'vendor/sweetalert-master/dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/sweetalert-master/dist/sweetalert.css' %}" type="text/css" media="screen"/>

    {% endblock %}
    {% block extra_styles %}{% endblock %}


</head>

<body>
{% block content %}


        {% for message in messages %}
            <li class="{{ message.tags }}">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </li>
        {% endfor %}
        {% block header %}

            <h1 class="raffle-header">The Random Picker!</h1>

            {% if banner %}
                <img src="/media/{{ banner.banner_1 }}" alt="" class="banner banner-1"/>
                <img src="/media/{{ banner.banner_2 }}" alt="" class="banner banner-2"/>
                <img src="/media/{{ banner.banner_3 }}" alt="" class="banner banner-3"/>
                <img src="/media/{{ banner.banner_4 }}" alt="" class="banner banner-4"/>
            {% else %}
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="" class="banner banner-1"/>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="" class="banner banner-2"/>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="" class="banner banner-3"/>
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="" class="banner banner-4"/>
            {% endif %}
        {% endblock %}

        {% block subheader %}
        {% endblock %}

{% endblock %}
    <h1 class="raffle-header raffle-footer" style="text-align:center">Tenis Urban Style </h1>

</body>

{% block scripts %}
{% endblock %}
{% block extra_scripts %}{% endblock %}


</html>