{% extends 'raffle/base.html' %}
{% load static %}

{% block extra_styles %}

    	<style type="text/css">

		form {
			margin-bottom: 30px ;
			}

		ol#raffle {
			list-style-type: none ;
			float: left ;
			font-size: 30px ;
			margin: 0px 0px 0px 0px ;
			padding: 0px 0px 0px 0px ;
			}

		ol#raffle li {
			background-color: #FAFAFA ;
			border: 2px solid #454545 ;
			float: left ;
			height: 60px ;
			line-height: 60px ;
			margin: 0px 10px 10px 0px ;
			overflow: hidden ;
			padding: 0px 0px 0px 0px ;
			text-align: center ;
			width: 60px ;
			}

		ol#raffle li.on {
			background-color: gold ;
			font-size: 45px ;
			font-weight: bold ;
			}

        .sa-custom {
            width: 150px;
            height: 150px;
        }
	</style>


{% endblock %}
{% block content %}
<div id="randomize">
    <div class="content container" style="text-align: center">

        {% block header %}
            {{ block.super }}
        {% endblock %}



    {% if raffle.winner %}
        <h4 class="winner-label">Gracias por participar. El ganador de esta rifa fue el #{{ raffle.winner }}</h4><br>
    {% else %}

	<ol id="raffle"></ol>

	<br clear="all" />
	<br />
    {% endif %}

    {% if request.user.is_staff %}
        <form>
            <a href="/rifa/{{ raffle.pk }}" class="step-back">< Volver</a>
            <a href="/rifa/crear">
                <div id="newButton" type="button" class="btn btn-default btn-lg">Nuevo</div>
            </a>
            {% if not raffle.winner %}
            <button type="submit" id="ranomizeButton" type="button" class="btn btn-success btn-lg">Elegir
                Ganador
            </button>
            <div id="saveWinner" type="button" class="btn btn-warning btn-lg">Guardar Ganador</div>
            {% endif %}
        </form>
    {% endif %}

    </div>
</div>
</div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        var participants = [];
        var pa = 0;

        {% for u in raffle.users.all %}
            participants.push({'id': "{{u.pk}}", 'name':"{{u.first_name}}", 'number':pa+1});
            pa++;
        {% endfor %}



        var numbers = [];
        var audioElement = document.createElement('audio');
        audioElement.setAttribute('src', './sms-alert-1-daniel_simon.mp3');

        for (var i = 1; i <= pa; i++) {
            numbers.push(i);
        }


        function onComplete(active) {
            //audioElement.play();
        }


    });
</script>
{% endblock %}
{% block extra_scripts %}
    <script>
        var participants = {{ raffle.users.count }};
        {% if not raffle.winner %}
            var winner;
        {% else %}
            var winner = {{ raffle.winner }};
            for (var i = 1; i < participants.length; i++){
                if(i == winner){
                $('#raffle').append("<li class=''><div>"+i+"</div></li>");
                    }else{
                   $('#raffle').append("<li class='on'><div>"+i+"</div></li>");
                }
            }
        {% endif %}


        function success() {
            swal('Guardado exitoso');
        }

        $('#saveWinner').on('click', function () {

            var myJsonString = JSON.stringify(winner);
            console.log(myJsonString);
            $.ajax({
                type: "POST",
                url: "/api/rifa/ganador/{{ raffle.pk }}/",
                data: myJsonString,
                success: success,
                dataType: 'json',
            });


        });

    </script>
    <script type="text/javascript" src="{% static 'js/jquery-raffle.js' %}"></script>

{% endblock %}



